<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
    <form action="">
        <table>
            <tr>
                <td>
                    用户名：<input type="text" name="username"/>
                </td>
            </tr>
            <tr>
                <td>
                    密码：<input type="text" name="password"/>
                </td>
            </tr>
            <tr>
                <td>
                    重复密码：<input type="text" name="passwrod_repet"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="提交"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>